@import '../../assets/styles/variables.scss';
.nav {
    display: flex;
    padding-left: 0;
    &__logo {
        background-image: url('#{$path-to-images}/Logo_ML.png');
        background-repeat: no-repeat;   
        display: inline-block;
        height: 36px;
        outline: 0;
        width: 56px;
        span {
            text-indent: -999px;
            visibility: hidden;
        }
    }
    &__search-form {
        flex: 0 0 94%;
        margin-left: 20px;
        position: relative;
    }
    &__search-input{
        background-color: $white;
        border-radius: $border-radius-default / 2;
        border: 0;
        color: $primary__color;
        font-size: $font-size_base;
        height: 36px;
        outline: 0;
        padding: 7px 60px 9px 15px;
        width: 100%;
    } 
    &__search-btn {
        background-color: $gray-500;
        background-image: none;
        border: 0;
        cursor: pointer;
        height: 36px;
        padding: 8px;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        &:focus {
            outline: 0;
        }
    }
    &__icon-search {
        background-image: url('#{$path-to-images}/ic_Search.png');
        background-repeat: no-repeat;
        height: 16px;
        width: 16px;
        margin: 0 auto;
    }
}