@import "../../assets/styles/variables.scss";

.results {
  &__section {
    background-color: $white;
    border-radius: 4px;
    margin-top: $gutter * 1.5;
    margin-bottom: $gutter * 1.5;
    padding-bottom: $spacer-default;
    padding-top: $spacer-default;
    .item {
      &__image {
        height: 180px;
        width: 180px;
        border-radius: $border-radius-default;
        &-container {
          margin-right: $spacer-default;
          width: 20%;
        }
      }
      &__info {
        &-container {
          width: 70%;
        }
      }
      &__city {
        &-container {
          color: $gray-900;
          font-size: $results__product-city-font-size;
          text-align: center;
          width: 10%;
        }
      }
      &__price {
        color: $primary__color;
        display: inline-block;
        font-size: $results__product-price-font-size;
        margin-left: 5px;
      }
      &__currency-symbol {
        font-size: $results__product-price-font-size;
      }
      &__title {
        color: $primary__color;
        text-decoration: none;
        h2 {
          font-size: $results__product-title-font-size;
          font-weight: 400;
          margin-top: $spacer-default * 2;
        }
      }
    }
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    &-item {
      border-bottom: 1px solid $search__item-border-color;
      display: flex;
      padding: $spacer-default;
      &:last-child {
        border: 0;
      }
      &:hover {
        background-color: $gray-500;
      }
    }
  }
}

.no-results-container {
  padding: $spacer-default;
}
