@import './assets/styles/variables.scss';

// Styles

*,
*::before,
*::after {
  box-sizing: border-box; 
}

  
body {
    background-color: $body__background-color;
}

.app {
  &__container {
    margin-left: auto;
    margin-right: auto;
    max-width: $container-max-width;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2 ;
  }

  &__header{
    background-color: $yellow;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

