//Colors
$gray-100: #f8f9fa;
$gray-500: #eeeeee;
$gray-600: #666666;
$gray-800: #aeaeae;
$gray-900: #999999;
$gray-950: #333333;
$yellow: #ffe600;
$white: #ffffff;
$blue: #3483fa;

$primary__color: $gray-950;
$secondary__color: $gray-900;
$body__background-color: $gray-500;

// Layout
$container-max-width: 1024px;
$gutter: 30px;
$spacer-default: 16px;

// Fonts
$font-size_base: 18px;

// Paths
$path-to-images: "../../assets/images";

// Search Results Page
$search__item-border-color: $gray-500;
$results__product-title-font-size: 18px;
$results__product-price-font-size: 24px;
$results__product-city-font-size: 12px;

// Product Detail Page
$item__product-title-font-size: 24px;
$item__product-price-font-size: 46px;
$item__product-condition-font-size: 14px;